.container{
    width: 100%;
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(3,20%);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.container .item{
    border: 2px solid lightcoral;
    border-radius: 5px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px ;
}

.item h5{
    font-size: 10px;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 5px 10px;
}

.item p{
    font-size: 8px;
    color: rgb(54, 54, 54);
    margin: 5px 11px;
}