
*{
    margin: 0;
    padding: 0;
}



.container{
    width: 100vw;
    display: flex;
    color: crimson;
    border: 2px solid black;
    
}

.item{
    width: 50%;
    height: 50vh ;
    border: 2px solid black;
    font-size: 40px;
}


 /* smaller screens */
@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
        background-color: lightblue;
        color: blue;
    }
    
}

  /* tablets and larger phones */
@media screen and (min-width:481px) and (max-width:768px) and (orientation:landscape){
    .container{
        flex-wrap:wrap;
        background-color: lightgreen;
        color: green;
    }
    .item{
        width: 25%;
    }
    
} 

 /* laptops, larger tablets and desktops */
@media screen and (min-width:769px) and (max-width:1279px) {
    .container{
        background-color: plum;
        color: crimson;
    }
    
}  
